@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  background-color: #f2aa4cff;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 62px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  outline: 2px solid #000;
  margin: auto;
  height: 500px;
  width: 500px;
}

.blocks {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid #000;
  display: inline-block;
}

.squarePainted {
  background-color: black;
}
