@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  background-color: #f2aa4cff;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 62px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.blocks {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

.blocks:nth-child(16n + 1) {
  width: 100%;
  border: 0;
  height: 0;
}

.squarePainted {
  background-color: black;
}
